<div class="oauth_consumer">
  <h3><%= oauth_consumer.service_provider_options['name'] %></h3>
  <dl class="clearfix">
    <dt>consumer key</dt>
    <dd><%= oauth_consumer.consumer_key %></dd>
    <dt>consumer secret</dt>
    <dd><%= oauth_consumer.consumer_secret %></dd>
    <dt>scope</dt>
    <dd><%= oauth_consumer.scope %></dd>
  </dl>
</div>